[
  {
    apns,
    [
      {pools,
        [ { apns_pool
          , [ {size, 3},
              {max_overflow, 10} ]
          , [ {apple_host,      "api.development.push.apple.com"}
              , {apple_port,       443}
              , {certdata,         "DUMMY"}
              , {certfile,         "priv/apns-dev-cert.pem"}
              , {keydata,          "DUMMY"}
              , {keyfile,          "priv/apns-dev-key.pem"}
              , {token_keyfile,    "priv/APNsAuthKey_KEYID12345.p8"}
              , {timeout,          10000}
              , {type,              cert}
              , {conn_life,         180000}]
          } ]}

      %% default header
      ,{header,
        [ {apns_id,          undefined}
          , {apns_expiration,  0}
          , {apns_priority,    10}
          , {apns_topic,       "com.anvi.WoYue"}
          , {apns_collapse_id, undefined} ]}
      %% Feedback
      , {feedback,
          [ {host,    "feedback.push.apple.com"}
            , {port,    2195}
            , {certfile, ""}
            , {keyfile, ""}
            , {timeout, 5000} ]}
    ]
  },
  {sasl, [{sasl_error_logger, false}]},
  {
    workitem, [
    {pools, [
      {workitem_pool, [
        {size, 30},
        {max_overflow, 50}
      ], []}
    ]}
  ]
  },
  { lager, [
    {log_root, "log"},
    {handlers,[
      {lager_console_backend, [{level,info}]},
      {lager_file_backend,[{file,"error.log"},{level,error}]},     %% error_logger.log 位置可以自行配置
      {lager_file_backend,[{file,"console.log"},{level,info}]}
    ]}
  ]
  }
].

